.container {
  display: flex;
  align-items: center;
  justify-self: center;
}

.peso {
  width: 2em;
  font-weight: bold;
}

.altura {
  width: 2em;
  font-weight: bold;
}

.nombre {
  width: 2em;
  font-weight: bold;
}
