<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemons</title>
</head>

<body>
    <h1>Formulario para insertar un pokemon en la BD</h1>

    <form action="https://transformaloyo.herokuapp.com/insertarPokemon" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre">
        <br />
        <label for="peso">Peso: </label>
        <input type="text" name="peso">
        <br />
        <label for="altura">Altura: </label>
        <input type="text" name="altura">
        <br />
        <input type="submit" value="Insertar Pokemon" />
    </form>
</body>

</html>